* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    outline: none;
    text-decoration: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    color: white;
    font-weight: bold;
    background-color:black;
}
.navbar a {
    padding: 7px 40px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color .5s;
}
.navbar a:hover, .navbar button:hover {
    background-color: grey;
}

.navbar button {
    color: white;
    padding: 7px 40px;
    background-color: black;
    border-radius: 5px;
    transition: background-color .5s;
    cursor: pointer;
}

/* Auth page */
.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    background-color: rgb(228, 228, 228);
    background-image: url("https://images.unsplash.com/photo-1523287562758-66c7fc58967f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-size: cover;
}

.auth-container > h1 {
    font-size: 2em;
    margin: 24px;
}

.auth-container > p {
    margin: 16px;
    text-decoration: underline;
}
.auth-container > p:hover {
    font-weight: bold;
    cursor: pointer;

}
.auth-container > form {
    border: 1px solid #3339;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
  
    display: flex;
    flex-direction: column;
}
  
.auth-container > form > input {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 10px;
}
  
.auth-container > form > button, #log-button {
    margin: 16px 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(92, 0, 92);
}


/* Home page*/
.homepage h1, .homepage h2 {
    text-align: center;

}

#form {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(150px, 300px));
}
#form input, textarea {
    padding: 8px;
    border-radius: 10px;
}

div.breaker {
    width: 90%;
    margin: auto;
    height: 2px;
    background-color: black;;
}
.applicationList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
textarea {
    grid-column: 1 / -1;
    background-color: inherit;
}

#form button {
    grid-column: 1 / -1;
    font-size: 20px;
}
[type=checkbox] {
    margin-left: 5px;
    padding: 3px;
}

[type=checkbox]:hover {
    box-shadow: 2px 3px 4px grey;
    cursor: pointer;
}

.application {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    background-color: #f0f0f0;
    
}

.priority {
    background-color: rgb(255, 223, 255);
}
.application > * {
    margin-left: 5px;
    margin-top: 5px;
    width: 150px;

}
.application textarea {
    border: none;
}
.application a {
    color: black;
    text-decoration: underline;

}

.application button {
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    width: 150px;
}
#delete-button {
    background-color: black;
    cursor: pointer;
}
.application button:not(#delete-button) {
    background-color: rgb(92, 0, 92);
    cursor: pointer;
}


.datapage h1 {
    text-align: center;
    font-size: 35px;

}
.datapage {
    width: 80vw;
    margin: auto;
}
.datapage > * {
    margin-bottom: 20px;
}
.datapage h2 {
    font-size: 30px;
}

.responseRate, .letter, .linkedin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

@media only screen and (min-width: 600px){
    #form {
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(3, minmax(150px, 350px));
        justify-content: space-evenly;
    }
}